@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    height: 100vh;
    overflow: hidden;
    background-image: url("../Login_page/Image/Wallpaper.jfif");
    background-size: cover;
    animation: fadeIn 0.5s ease-in;
}

@keyframes fadeIn {
  from {
    opacity: 0.5;
  }

  to {
    opacity: 1;
  }
}

form {
    padding: 5px;
    background-color: rgba(55, 55, 56, 0.3);
    width: 35%;
    height: 500px;
    text-align: center;
    margin: 90px auto;
    border-radius: 40px;
    box-shadow: 0 0 10px 10px rgb(61, 94, 81);
}

div {
    padding: 12px;
}

h1 {
    padding: 20px 0 -5px 0;
    text-align: center;
    color: #080808;
    font-size: 2.7em;
    text-shadow: 2px 2px rgb(52, 61, 66);
    font-family: "Poppins", serif;

}

.welcome {
    opacity: 0;
    color: #080808;
    text-shadow: 0 0 10px rgb(255, 255, 255), 0 0 20px rgb(247, 247, 247);
    transform: translateY(20px);
    transition: opacity 1.5s ease, transform 1.2s ease;
    font-family: "Poppins", serif;

}

.welcome.show {
    opacity: 1;
    transform: translateY(0);
}

.user input,
.pass input {
    border: none;
    border-bottom: 1px solid #000;
    padding: 5px;
    font-size: medium;
    width: 70%;
    background-color: transparent;
    transition: 0.3s ease-in-out;
}


.user input::placeholder,
.pass input::placeholder {
    color: rgb(0, 0, 0);
    opacity: 0.7;
}

.forgot-pass,
.box {
    padding: 30px;
    display: inline;
    font-size: smaller;
}

.pass {
    position: relative;
}

.pass i {
    position: absolute;
    top: 50%;
    right: 80px;
    transform: translateY(-50%);
    font-size: small;
}


.forgot-pass a,
label {
    color: #080808;
    font-size: 13px;
}

.forgot-pass a {
    text-decoration: none;
}

.forgot-pass a:hover {
    text-decoration: underline;
}

button {
    position: relative;
    overflow: hidden;
    margin: 35px auto 30px auto;
    padding: 4px;
    width: 65%;
    border-radius: 15px;
    color: #080808;
    font-weight: bold;
    font-family: "Poppins", serif;
    font-size: medium;
    transition: transform 0.9s ease, box-shadow 1.2s ease, background-color 0.3s ease;
}

p,
a {
    margin: 0;
    color: #080808;
    font-weight: bold;
    font-family: "Poppins", serif;

}


.user input:hover,
.pass input:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 10px 7px rgba(0, 0, 0, 0.3);
    transition: 1s ease;


}

p,
a:hover {
    text-decoration: none;
}

button::after {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 60%;
    height: 100%;
    background: linear-gradient(120deg, transparent, rgba(255, 255, 255, 0.4), transparent);
    transition: left 1.3s ease;
}

button:hover {
    cursor: pointer;
    box-shadow: 0px 0px 10px 7px rgba(0, 0, 0, 0.3);
    background-color: rgba(0, 0, 0, 0.3);
}

button:hover::after {
    left: 120%;
}