@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background: linear-gradient(-90deg, rgb(18, 97, 62), rgb(11, 48, 70));
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    animation: fadeIn 0.5s ease-in;
}

@keyframes fadeIn {
  from {
    opacity: 0.5;
  }

  to {
    opacity: 1;
  }
}
.container {
    display: flex;
    width: 800px;
    height: 530px;
    overflow: hidden;
    background-color: whitesmoke;
    border-radius: 30px;
    box-shadow: 3px 3px 10px 10px #011810;
}

.container-img {
    flex: 1;
    position: relative;
    background-image: url("../Registragion_page/Image/11.png");
    background-size: cover;
    border-radius: 0 50px 50px 0;
    background-position: center;
}




.text {
    position: absolute;
    font-size: 43px;
    color: whitesmoke;
    line-height: 1.5cm;
    margin-top: 110px;
    margin-left: 90px;
    font-weight: 600;
    text-shadow: 0 -5px 5px rgb(0, 0, 0);
    font-family: "Poppins", serif;
}

.text1 {
    position: absolute;
    margin-top: 230px;
    margin-left: 100px;
    color: whitesmoke;
    font-weight: 400;
    font-size: 20px;
    text-shadow: 0 5px 5px rgb(0, 0, 0);
    font-family: "Poppins", serif;
}

span {
    font-size: 25px;
    text-shadow: 0 0 10px rgb(18, 97, 62), 0 0 10px rgb(255, 255, 255);
    display: inline-block;
    animation: float 1s ease-in-out infinite;
    font-family: "Poppins", serif;
}

@keyframes float {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-3px);
    }

    100% {
        transform: translateY(0px);
    }
}

.container-form {
    flex: 1;
    justify-content: center;
    align-items: center;
}

h1 {
    text-align: center;
    font-size: 40px;
    color: rgb(18, 97, 62);
    text-shadow: 2px 2px rgb(9, 67, 100);
    font-family: "Poppins", serif;
}

form {
    display: flex;
    flex-direction: column;
    margin-left: 10%;
    width: 80%;
    padding: 20px;
}

.INPUT {
    margin: -2px 0 20px 15px;
    position: relative;
    width: 90%;
    padding: 4px;
    border: none;
    outline: none;
    font-size: medium;
    border-bottom: 1px solid #080808;
    border-radius: 10px;
    background-color: whitesmoke;
    transition: 0.5s ease-in-out;
}

.info-radio {
    margin-left: 50px;
    margin-bottom: 5px;
}

.info-radio i {
    color: rgb(18, 97, 62);
}

.GENDER {
    padding-right: 30px;
    font-weight: 550;
    color: #202020;
}

.info i {
    position: absolute;
    z-index: 5;
    color: rgb(18, 97, 62);
    transform: translate(245px, 5px);
}


.INPUT:hover {
    transform: scale(1.1);
    box-shadow: 0 0 10px 5px rgba(37, 139, 93, 0.5);
}


button {
    margin: 5px 0 0 15px;
    padding: 10px;
    width: 90%;
    border-color: rgb(18, 97, 62);
    border-radius: 15px;
    position: relative;
    overflow: hidden;
    font-size: medium;
    font-weight: bold;
    transition: background-color 0.9s ease-in-out, box-shadow 0.9s ease-in-out;
}

.text2,
a {
    margin-top: 10px;
    text-align: center;
    color: #080808;
    font-weight: bold;
}

button::after {
    content: "";
    left: -120%;
    width: 90%;
    height: 100%;
    top: 0;
    position: absolute;
    background-image: linear-gradient(120deg, transparent, rgba(255, 255, 255, 0.692), transparent);
    transition: left 2.5s ease;
}

button:hover {
    box-shadow: 0 0 10px 5px rgba(37, 139, 93, 0.5);
    background-color: rgb(100, 172, 141);
    cursor: pointer;
}

button:hover::after {
    left: 120%;
}

.text2,
a:hover {
    text-decoration: none;
}